@model ResumePortal.Models.ViewModels.ResumeViewModel;

@foreach (var job in Model.Resume)
{
    <div class="card mb-3 clickable-card" data-href="@Url.Action("JobDetails", "Work", new { id = job.Id })">
        <h2 class="card-header">@job.CompanyName</h2>
        @{
            if (job.EndDate == null)
            {
                <h3 class="card-body">@job.StartDate - Now</h3>
            }
            else
            {
                <h3 class="card-body">@job.StartDate - @job.EndDate</h3>
            }
        }
        <h4 class="card-body">@job.JobTitle</h4>
    </div>
}

<div id="addNewWork" class="mt-3 mb-3 d-flex justify-content-center align-items-center">
    <a id="plus" asp-action="AddWorkHistory" asp-controller="Work">+</a>
</div>

<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () {
        var clickableCards = document.querySelectorAll('.clickable-card');
        clickableCards.forEach(function (card) {
            card.addEventListener('click', function () {
                var href = card.getAttribute('data-href');
                window.location.href = href;
            });
        });
    });
</script>